<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="XmlPath" value="http://webstrar25.fulton.asu.edu//page10//Users.xml" />
    <!--<add key="XmlPath" value="C:\\Users\\SRadhakrishna\\Desktop\\Users.xml" />-->
    <add key="EventsPath" value="C:\\Users\\SRadhakrishna\\Desktop\\Events.xml" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Concert2">
        <endpoint address="" binding="customBinding" bindingConfiguration="Concert2.customBinding0"
          contract="Concert2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IMailService" />
        <binding name="BasicHttpBinding_IArtistInfoService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Concert2.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar25.fulton.asu.edu/page7/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="CardReference.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://venus.eas.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ImageVerifierReference.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://webstrar25.fulton.asu.edu/page2/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="TranslationServiceReference.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://webstrar25.fulton.asu.edu/page6/MailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailService"
        contract="MailReference.IMailService" name="BasicHttpBinding_IMailService" />
      <endpoint address="http://webstrar25.fulton.asu.edu/page5/ArtistInfoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArtistInfoService"
        contract="ArtistServiceReference.IArtistInfoService" name="BasicHttpBinding_IArtistInfoService" />
    </client>
  </system.serviceModel>
</configuration>