<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="XmlPath" value="C:\\Users\\Shwetha\\Desktop\\DSOD\\Assignment5Part2\\Users.xml" />
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>

  
  
</configuration>